@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
html {
  interpolate-size: allow-keywords;
}

:root {
  font-size: 0.95rem;
  font-family: 'Poppins';
  /* font-family: 'Segoe UI Symbol', 'Noto Color Emoji', 'sans-serif'; */
  transition:
    color 0.3s,
    background-color 0.3s;
  min-height: 100vh;
  line-height: 1.5;
  box-sizing: border-box;
  min-height: 100svh;
}

.nav-link {
  padding-bottom: 0.4rem;
}

.nav-link.active {
  border-bottom: 3px solid var(--color-blue-800);
}
.entity-label {
  font-weight: bold;
  color: var(--color-neutral-600);
}

.entity-name {
  font-weight: bold;
  color: var(--color-neutral-800);
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  transition: background-color 5000s ease-in-out 0s;
}

.box {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.2s ease-in-out;
  z-index: 1;
}

.box.expanded {
  height: auto; /* Works flawlessly if interpolate-size is enabled */
  z-index: 10;
}

@theme {
  --animate-tab-in: tabIn 0.45s ease-out forwards;

  @keyframes tabIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  --animate-modal-in: fadeIn 0.35s ease-out forwards;

  @keyframes fadeIn {
    0% {
      transform: translateY(-25%);
      opacity: 0;
    }
    100% {
      transform: translateY(-5%);
      opacity: 1;
    }
  }

  --animate-modal-out: fadeOut 0.2s ease-out forwards;

  @keyframes fadeOut {
    0% {
      transform: translateY(-5%);
      opacity: 1;
    }
    100% {
      transform: translateY(-25%);
      opacity: 0;
    }
  }

  --animate-top-menu: topMenuFadeIn 0.7s ease-in forwards;

  @keyframes topMenuFadeIn {
    0% {
      /* opacity: 0; */
      tranform: scale(0.1);
    }
    100% {
      /* opacity: 1; */
      tranform: scale(0.7);
    }
  }
}

.Dropdown-control {
  border: 1px solid var(--color-neutral-200) !important;
}

.Dropdown-control {
  padding: 0;
}
